* {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BACKGROUND: url(../images/bg_top.jpg) repeat-x; COLOR: #555; FONT-SIZE: 12px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
B {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
A {
	COLOR: #555; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e76108; TEXT-DECORATION: underline
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	FONT-FAMILY: "ו"
}
H4 {
	FONT-FAMILY: "ו"
}
P {
	COLOR: #555; FONT-WEIGHT: bold
}
INS {
	FLOAT: right; TEXT-DECORATION: none
}
.orange {
	COLOR: #ed6307
}
.blue {
	COLOR: #3d75b2
}
.xxx {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #555; PADDING-TOP: 0px
}
.deepblue {
	COLOR: #007ed9
}
.bold {
	FONT-WEIGHT: bold
}
.none {
	DISPLAY: none
}
.clear {
	CLEAR: both
}
.del {
	TEXT-DECORATION: line-through
}
.f14 {
	FONT-SIZE: 14px
}
.moretext {
	LINE-HEIGHT: 22px; FONT-FAMILY: "ו"; COLOR: #ed6307; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.underline {
	TEXT-DECORATION: underline
}
.float_left {
	FLOAT: left
}
.border_img {
	BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 15px; HEIGHT: 23px; PADDING-TOP: 2px
}
.border_img {
	COLOR: #555
}
.border_bg {
	COLOR: #555
}
.TabTitle A {
	COLOR: #555
}
.right_more {
	PADDING-RIGHT: 5px; FLOAT: right
}
.public_border {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.public_zy_left {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#picture_play {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_center {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_right {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_books {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_data {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_left {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_download {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_zy_every {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_hd {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_ew {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.sm_border {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.sm2_border {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.border_img {
	BORDER-BOTTOM: #ccc 1px solid
}
.border_bg {
	BORDER-BOTTOM: #ccc 1px solid
}
.option_list {
	BORDER-TOP: #ccc 1px dashed
}
.yjsbk_img {
	BORDER-BOTTOM: #ccc 1px dashed
}
#hot_blog {
	BORDER-BOTTOM: #ccc 1px dashed
}
BODY {
	FONT-SIZE: 12px
}
H5 {
	FONT-SIZE: 12px
}
H4 {
	FONT-SIZE: 12px
}
INS {
	FONT-SIZE: 12px
}
.n4Tab .TabTitle LI H6 {
	FONT-SIZE: 12px
}
.xxx {
	FONT-SIZE: 12px
}
.option_caption {
	FONT-SIZE: 12px
}
.option_list P {
	FONT-SIZE: 12px
}
.content_right P {
	FONT-SIZE: 12px
}
.newdata_list A {
	FONT-SIZE: 12px
}
#hot_blog B {
	FONT-SIZE: 12px
}
#border_hd_one_bgcolor A {
	FONT-SIZE: 12px
}
#border_hd_two_bgcolor A {
	FONT-SIZE: 12px
}
#border_hd_three_bgcolor A {
	FONT-SIZE: 12px
}
#border_hd_four_bgcolor A {
	FONT-SIZE: 12px
}
.yjsbk_list A {
	FONT-SIZE: 12px
}
.yjsbk_more A {
	FONT-SIZE: 12px
}
.every_date P A {
	FONT-SIZE: 12px
}
.every_date1 P A {
	FONT-SIZE: 12px
}
.video_menu_all P A {
	FONT-SIZE: 12px
}
.ze_list A {
	FONT-SIZE: 12px
}
.link_all {
	FONT-SIZE: 12px
}
#footer P {
	FONT-SIZE: 12px
}
#footer A {
	FONT-SIZE: 12px
}
#banner UL LI A {
	FONT-SIZE: 14px
}
P {
	FONT-SIZE: 14px
}
.TabTitle A {
	FONT-SIZE: 14px
}
#border_hd_one_bgcolor H5 {
	FONT-SIZE: 14px
}
#border_hd_two_bgcolor H5 {
	FONT-SIZE: 14px
}
#border_hd_three_bgcolor H5 {
	FONT-SIZE: 14px
}
#border_hd_four_bgcolor H5 {
	FONT-SIZE: 14px
}
#system_time {
	FONT-SIZE: 13px
}
.hd_title {
	FONT-SIZE: 13px
}
H5 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
#banner UL LI A {
	FONT-WEIGHT: normal
}
.n4Tab .TabTitle LI H6 {
	FONT-WEIGHT: normal
}
.option_caption {
	FONT-WEIGHT: normal
}
.option_list P {
	FONT-WEIGHT: normal
}
.content_right P {
	FONT-WEIGHT: normal
}
.newdata_list P {
	FONT-WEIGHT: normal
}
.newdata_list A {
	FONT-WEIGHT: normal
}
#hot_blog B {
	FONT-WEIGHT: normal
}
#border_hd_one_bgcolor A {
	FONT-WEIGHT: normal
}
#border_hd_two_bgcolor A {
	FONT-WEIGHT: normal
}
#border_hd_three_bgcolor A {
	FONT-WEIGHT: normal
}
#border_hd_four_bgcolor A {
	FONT-WEIGHT: normal
}
.yjsbk_list A {
	FONT-WEIGHT: normal
}
.yjsbk_more A {
	FONT-WEIGHT: normal
}
.yjsbk P {
	FONT-WEIGHT: normal
}
.every_date P {
	FONT-WEIGHT: normal
}
.every_date P A {
	FONT-WEIGHT: normal
}
.every_date1 P A {
	FONT-WEIGHT: normal
}
.ze_list P {
	FONT-WEIGHT: normal
}
.ze_list A {
	FONT-WEIGHT: normal
}
.video_menu_all P A {
	FONT-WEIGHT: normal
}
#footer P {
	FONT-WEIGHT: normal
}
#footer A {
	FONT-WEIGHT: normal
}
#container {
	WIDTH: 984px
}
#globallink_menu {
	HEIGHT: 199px
}
#globallink_menu_top {
	WIDTH: 984px; HEIGHT: 33px; OVERFLOW: hidden
}
#menu_login {
	WIDTH: 827px; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 6px
}
#menu_login UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
#menu_login UL LI {
	LINE-HEIGHT: 18px; PADDING-RIGHT: 7px; FLOAT: left; HEIGHT: 18px
}
.login_input {
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; FLOAT: left; HEIGHT: 18px; BORDER-TOP: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid
}
.login_vinput {
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; FLOAT: left; HEIGHT: 18px; BORDER-TOP: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid
}
.login_input {
	WIDTH: 90px
}
.login_vinput {
	WIDTH: 60px
}
.login_select {
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; WIDTH: 70px; BORDER-TOP: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid
}
.login_text {
	MARGIN: 0px; FLOAT: left; PADDING-TOP: 2px
}
.wletter {
	LETTER-SPACING: 1px; PADDING-TOP: 3px
}
.cletter {
	LINE-HEIGHT: 18px; FONT-SIZE: 14px; PADDING-TOP: 3px
}
.cletter A {
	COLOR: #993300; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
#menu_logout {
	TEXT-ALIGN: right; FLOAT: right; PADDING-TOP: 10px
}
#menu_logout UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
#menu_logout UL LI {
	LINE-HEIGHT: 18px; PADDING-RIGHT: 8px; FLOAT: left
}
.logout_name {
	COLOR: #aa3939; FONT-WEIGHT: bold
}
.logout_text {
	LINE-HEIGHT: 18px; TEXT-DECORATION: underline
}
#home_keep {
	WIDTH: 156px; FLOAT: right; HEIGHT: 25px; PADDING-TOP: 3px
}
#home_keep UL {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 12px; LIST-STYLE-IMAGE: none
}
#home_keep UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 10px
}
#globallink_banner {
	MARGIN-TOP: 5px; WIDTH: 984px; FLOAT: left; HEIGHT: 77px
}
#logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 230px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 72px; PADDING-TOP: 6px
}
#banner {
	WIDTH: 720px; FLOAT: right; HEIGHT: 77px
}
#banner UL {
	LIST-STYLE-TYPE: none; MARGIN: 10px 0px 0px 2px; LIST-STYLE-IMAGE: none
}
#banner UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/wire.jpg) no-repeat left 50%; FLOAT: left; PADDING-TOP: 0px
}
#banner UL LI A {
	COLOR: #000
}
#banner UL LI A:hover {
	COLOR: #e76108
}
#banner UL LI IMG {
	PADDING-BOTTOM: 6px
}
#bloballink_find {
	FLOAT: left
}
#bloballink_find_center {
	FLOAT: left
}
#bloballink_find_right {
	FLOAT: left
}
#bloballink_find {
	MARGIN-TOP: 5px; WIDTH: 984px; HEIGHT: 78px
}
#bloballink_find_center {
	WIDTH: 752px; HEIGHT: 78px; OVERFLOW: hidden
}
.bok {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 752px; TOP: 117px
}
.bok UL {
	LIST-STYLE-TYPE: none; WIDTH: 520px; COLOR: #555; MARGIN-LEFT: 114px !important; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px
}
.bok UL LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 1px; WIDTH: 65px; PADDING-RIGHT: 1px; FLOAT: left; HEIGHT: 14px; MARGIN-LEFT: 4px; FONT-SIZE: 12px; CURSOR: pointer; PADDING-TOP: 6px
}
.bok UL LI A {
	TEXT-DECORATION: none
}
.bok UL LI A:hover {
	COLOR: #cb0100; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.boks-selected {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: url(../images/nav_selected.gif) no-repeat; HEIGHT: 14px; COLOR: #cb0100; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.boks {
	BACKGROUND: url(../images/nav_normal.gif) no-repeat
}
.content_bok {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 752px; TOP: 145px
}
.search_caption {
	WIDTH: 620px; FLOAT: left; HEIGHT: 30px
}
.search_caption IMG {
	WIDTH: 127px; FLOAT: left; HEIGHT: 24px; MARGIN-LEFT: -15px
}
.search_caption_input {
	BORDER-BOTTOM: #a7a7a7 1px solid; BORDER-LEFT: #a7a7a7 1px solid; BACKGROUND-COLOR: #fafafa; WIDTH: 500px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; BORDER-TOP: #a7a7a7 1px solid; BORDER-RIGHT: #a7a7a7 1px solid
}
.search_caption_input INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fafafa; PADDING-LEFT: 2px; WIDTH: 497px; PADDING-RIGHT: 0px; HEIGHT: 18px; FONT-SIZE: 13px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 3px
}
.search_button {
	TEXT-ALIGN: left; WIDTH: 132px; FLOAT: left; HEIGHT: 27px
}
.search_radio {
	TEXT-ALIGN: left; PADDING-LEFT: 150px; WIDTH: 500px; FLOAT: left; HEIGHT: 20px
}
.bose {
	COLOR: #cb0100; FONT-SIZE: 14px
}
.srb {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FLOAT: left; COLOR: #171717; PADDING-TOP: 0px
}
.srb INPUT {
	FLOAT: left; HEIGHT: 14px
}
.srb LABEL {
	PADDING-LEFT: 1px; FLOAT: left; HEIGHT: 14px; FONT-SIZE: 12px
}
.yzm_img {
	PADDING-BOTTOM: 4px
}
#bloballink_find_right {
	WIDTH: 231px; FLOAT: left; HEIGHT: 66px; PADDING-TOP: 12px
}
.spaceDiv {
	WIDTH: 7px; FLOAT: left; HEIGHT: 50px
}
#shoppingDiv {
	WIDTH: 112px; FLOAT: left; HEIGHT: 54px; OVERFLOW: hidden
}
#serviceDiv {
	WIDTH: 110px; FLOAT: left; HEIGHT: 54px; OVERFLOW: hidden
}
#kefu_qq {
	POSITION: absolute; WIDTH: 140px; DISPLAY: none; TOP: 132px
}
.pic {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 984px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.pic IMG {
	MARGIN-TOP: 4px
}
#pic_25 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 984px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#pic_25 IMG {
	MARGIN-TOP: 4px
}
.pic_02 {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 984px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.pic_02 IMG {
	MARGIN-TOP: 4px
}
#pic_05 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 984px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#pic_05 IMG {
	MARGIN-TOP: 4px
}
.sck-selected {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: url(../images/sck/selected.jpg); HEIGHT: 18px; PADDING-TOP: 7px
}
.sck {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 19px; PADDING-TOP: 6px
}
.sck_bc {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto; MARGIN-TOP: 0px; WIDTH: 100%; HEIGHT: 200px; MARGIN-LEFT: 0px
}
.sck_pub {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto; MARGIN-TOP: 0px; WIDTH: 100%; HEIGHT: 200px; MARGIN-LEFT: 0px
}
.sck_bc P {
	PADDING-LEFT: 15px; PADDING-TOP: 9px
}
.sck_bc P {
	MARGIN-TOP: 4px; BACKGROUND: url(../images/bookcate_bg.jpg) repeat-x; HEIGHT: 25px
}
.sck_bc P A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/book.jpg) no-repeat; HEIGHT: 20px; FONT-SIZE: 12px; FONT-WEIGHT: normal; PADDING-TOP: 2px
}
.sck_pub P {
	MARGIN-TOP: 4px; HEIGHT: 15px
}
.sck_pub P A {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/bookcate_arrow.jpg) no-repeat; HEIGHT: 20px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.hhpub {
	LINE-HEIGHT: 18px; PADDING-LEFT: 15px; OVERFLOW: hidden; PADDING-TOP: 9px
}
.lhpub {
	LINE-HEIGHT: 18px; PADDING-LEFT: 9px; OVERFLOW: hidden; PADDING-TOP: 5px
}
.pubBox {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid; WIDTH: 200px; HEIGHT: 48px; VERTICAL-ALIGN: middle; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.pubBox IMG {
	WIDTH: 196px; HEIGHT: 44px; VERTICAL-ALIGN: middle
}
#footer {
	MARGIN: 5px 0px 0px; WIDTH: 100%; FLOAT: left; BORDER-TOP: #317fd1 4px solid; PADDING-TOP: 5px
}
#footer P {
	TEXT-ALIGN: center; MARGIN: 7px 0px 6px; HEIGHT: 20px
}
#footer P A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#books_left4 {
	HEIGHT: 285px
}
#books_left4 P {
	MARGIN: 7px 0px 0px 8px; HEIGHT: 18px
}
#books_left4 P IMG {
	PADDING-RIGHT: 2px; VERTICAL-ALIGN: middle
}
#pub_marquee {
	
}
